<br>
<table class="table text-light">
    <thead class="thead-dark">
    <tr>
        <th scope="col">  </th>
        <th scope="col"><h2> Sunday</h2> </th>
        <th scope="col"><h2> Monday</h2> </th>
        <th scope="col"><h2> Tuesday </h2></th>
        <th scope="col"><h2> Wednesday</h2></th>
        <th scope="col"><h2> Thursday</h2></th>


    </tr>
    </thead>
    <tbody>
    <tr>

        <th scope="row "> Snack</th>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option >2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
          </select>
        </td>

        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option >2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option >2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

    </tr>
    <tr>

        <th scope="row"> Meal 1</th>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option >2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option >2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option >2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

    </tr>
    <tr>

        <th scope="row">Meal 2 </th>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option >2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option >2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

    </tr>
    <tr>

        <th scope="row">   Extra Protein  </th>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option >2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

    </tr>

    <tr>

        <th scope="row">Meal 3</th>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option >2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option >2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option >2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td >
            <select class="form-control">
                <option> food </option>
                <option>1</option>
                <option >2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

    </tr>
    <tr>

        <th scope="row">  </th>
        <td >
            <input type="number" class="input-group" placeholder="cal">

        </td>

        <td >
            <input type="number" class="input-group" placeholder="cal">

        </td>
        <td >
            <input type="number" class="input-group" placeholder="cal">

        </td>
        <td >
            <input type="number" class="input-group" placeholder="cal">

        </td>
        <td >
            <input type="number" class="input-group" placeholder="cal">

        </td>

    </tr>

    <tr>

        <th scope="row">  </th>
        <td >
            <input type="number" class="input-group" placeholder="Proten">

        </td>

        <td >
            <input type="number" class="input-group" placeholder="Proten">

        </td>
        <td >
            <input type="number" class="input-group" placeholder="Proten">

        </td>
        <td >
            <input type="number" class="input-group" placeholder="Proten">

        </td>
        <td >
            <input type="number" class="input-group" placeholder="Proten">

        </td>

    </tr>
    <tr>

        <th scope="row">  </th>
        <td >
            <input type="number" class="input-group" placeholder="Fat">

        </td>

        <td >
            <input type="number" class="input-group" placeholder="Fat">

        </td>
        <td >
            <input type="number" class="input-group" placeholder="Fat">

        </td>
        <td >
            <input type="number" class="input-group" placeholder="Fat">

        </td>
        <td >
            <input type="number" class="input-group" placeholder="Fat">

        </td>

    </tr>
    </tbody>

</table>

<br>
<hr>
<p class="col-md-8 m-3  text-light">&copy; abobakr </p>
