
 <h1 class="text-center text-light ">Wekly packages</h1>
 <br><hr> 

<div class="card-group text-center text-light">

    <!-- Package 1 -->
    <div class="card">
        <h5 class="card-title mt-4">Package 1</h5>

        <div class="card-body">
            <p class="card-text"> (1 meals) </p>
            <hr>
            <p class="card-text"> 1Snack </p>
            <hr>
            <p class="card-text">1 Main or Sandwich or Salad </p>

        </div>
        <div class="card-footer">
            <small class="text-muted ">1000 EGP</small>
            <hr>

        </div>

        <a href="../package-week" class="btn btn-primary">Select</a>

    </div>
   
    <!-- Package 2 -->

    <div class="card">
        <h5 class="card-title mt-4">Package 2</h5>

        <div class="card-body">

            <p class="card-text"> (2 meals) </p>
            <hr>
            <p class="card-text"> 1Snack    </p>
            <hr>
            <p class="card-text"> 1 Main or Sandwich or Salad </p>

        </div>
        <div class="card-footer">
            <small class="text-muted"> 875 EGP</small>
            <hr>
        </div>

        <a href="../package-week" class="btn btn-primary">Select</a>

    </div>

    <!-- Package 3 -->

    <div class="card">
        <h5 class="card-title mt-4">Package 3</h5>

        <div class="card-body">

            <p class="card-text"> (3 meals) </p>
            <hr>
            <p class="card-text"> 1Snack </p>
            <hr>
            <p class="card-text"> 1 Salad </p>
            <hr>
            <p class="card-text"> 1 Main or Sandwich or Salad </p>

        </div>
        <div class="card-footer">
            <small class="text-muted">725 EGP</small>
            <hr>
        </div>

        <a href="../package-week" class="btn btn-primary">Select</a>

    </div>

    <!-- Package 4 -->

    <div class="card">
        <h5 class="card-title mt-4">Package 4</h5>

        <div class="card-body">
            <p class="card-text"> (4 meals) </p>
            <hr>
            <p class="card-text"> 1Snack </p>
            <hr>
            <p class="card-text"> 1 Main or Sandwich or Salad </p>
            <hr>
            <p class="card-text"> 1 Sandwich or Salad </p>


        </div>
        <div class="card-footer">
            <small class="text-muted">650 EGP</small>
            <hr>
        </div>

        <a href="../package-week" class="btn btn-primary">Select</a>

    </div>
     <!-- Package 5 -->

     <div class="card">
        <h5 class="card-title mt-4">Package 5</h5>

        <div class="card-body">
            <p class="card-text"> (5 meals) </p>
            <hr>
            <p class="card-text"> 1Snack </p>
            <hr>
            <p class="card-text"> 1 Main or Sandwich or Salad </p>
            <hr>
            <p class="card-text"> 1 Sandwich or Salad </p>


        </div>
        <div class="card-footer">
            <small class="text-muted">450 EGP</small>
            <hr>
        </div>

        <a href="../package-week" class="btn btn-primary">Select</a>

     </div>
    </div>
<br>
    <div class="row ">
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-3">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          </div>
                        </div>
                      </div>
          </div>
        